<h1>Home</h1>

<form action="/" method="post">
  <div class="mb-3">
    <label for="search" class="form-label">Puxar Placa</label>
    <input
      type="text"
      class="form-control"
      id="search-bar"
      aria-describedby="search-bar"
      name="search"
    />
    <!--TODO Fazer a mascara de input -->
    <!--TODO Fazer animação de label saindo do meio do input -->
  </div>

  <button type="submit" class="btn btn-primary">Buscar</button>
</form>
